body {
    padding:0;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

ul li { list-style-type: none; }

.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    font-size: 16px;   
    color: #F9FAF8;
}

.header .logo { 
    font-weight: 900;
}

.intro h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin:0;
    padding:0;
}
.intro p { 
    font-size: 18px;
    color: #E5E7EB;
}

.section.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin:0;
    padding:0;
}

.section.comments {
    background-color: #E5E7EB;
}

.section.comments .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.section.cta, .section.cta button  { 
    background-color: #3882F6;
}

.section.cta h2 {
    margin:0;
    padding:0;
}

.hero .placeholder { 
    width: 400px; height: 200px; 
    background-color: gray;
}

/* Solution */

html, body { 
    height: 100%; width: 100%; 
}
body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top:auto;
}

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.wrapper { 
    width:100%;
    max-width: 1200px;  
    display: flex;
}

.header .wrapper {
    justify-content: space-between;
}
.footer .wrapper {
    justify-content: center;
}

.header .nav ul {
    display: flex;
    flex-direction: row;
    gap:20px;
}







